@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .main {
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    @apply text-mint-cream
  }
}

@layer components {
  h1 {
    @apply text-5xl font-medium }
  #content {
    min-height: calc(100vh - 80px)
  }

  #navbar a{
    @apply py-7 overflow-hidden px-2 mx-6 text-center hover:drop-shadow-nav duration-100
  }

  .bar-collection {
    @apply w-full
  }

  .bar {
    @apply h-20 w-full md:w-4/5 bg-gray-200 rounded-2xl relative shadow-lg duration-200
      leading-16 sm:leading-16 text-xl sm:text-2xl text-gray-200 my-3 overflow-hidden
  }

  .bar p {
    @apply pointer-events-none font-semibold 
  }

  .bar .fifty {
    @apply h-16 w-1/2 rounded-lg absolute top-2 left-2 shadow-md
  }

  .bar .full {
    width: calc(100% - 16px);
    @apply h-16 rounded-lg absolute top-2 left-2 shadow-md
  }

  .bar .eighty {
    @apply h-16 w-4/5 rounded-lg absolute top-2 left-2 shadow-md
  }

  .bar .ninety {
    @apply h-16 w-9/10 rounded-lg absolute top-2 left-2 shadow-md
  }

  .bar .thirty {
    @apply h-16 w-1/3 rounded-lg absolute top-2 left-2 shadow-md
  }

  .bar .sixty {
    @apply h-16 w-2/3 rounded-lg absolute top-2 left-2 shadow-md
  }

  .project {
    @apply w-full relative
  }

  #projects-list .project img {
    @apply rounded-lg border-better-black border-4 relative h-auto hover:cursor-pointer pointer-events-none
  }

  #projects-list .project .backdrop {
    scrollbar-width: none;
    @apply rounded-lg border-4 border-white duration-300 mt-22 overflow-y-scroll overflow-x-hidden
      flex flex-col sm:items-center sm:justify-center absolute bg-delft bg-opacity-90
  }

  #projects-list .project .backdrop::-webkit-scrollbar {
    @apply hidden;
  }

  .icon-link {
    @apply hover:drop-shadow-burn duration-100 drop-shadow-md
  }

  #dropdown a {
    @apply text-3xl my-2
  }

}
